@media screen and (max-width: 450px) {


    :root {
        --white: #fff;
        --green: #095733;
        --green: #05704c;
        --black: #000;
        --ash: #aba7a7;
    }

    .hero-section {
        width: 100%;
        height: fit-content;
        position: relative;
    }
    .hero-section .place-title {
        padding: 20px;
    }
    .hero-section .data-box {
        padding: 20px;
        padding-top: 20px;
        box-shadow: unset;
    }
    .hero-section .data {
        position: unset;
    }
    .hero-section .weather {
        position: unset;
    }
    .hero-section .data-header {
        position: unset;
    }
    .hero-section .weather-icon {
        display: inline-block;
    }
    .hero-section .weather h4::after {
        display: none; 
    }

    footer {
        background-color: rgb(27, 19, 72);
        padding: 20px;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        font-style: bold;
    }
    footer p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 24.4px;
        color: rgb(247, 252, 247);
        background-color: rgb(7, 24, 79);
        font-style: bold;
    }
}