body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #88a7c6;
  line-height: 1.6;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #1f6fa4;
  color: rgba(116, 3, 14, 0.895);
  padding: 1rem;
  text-align: center;
}


main {
  flex: 1;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the items */
  gap: 1rem;
  margin: 0; /* Remove default margin */
}

nav ul.open {
  flex-direction: column;
  align-items: center; /* Center items in column layout */
}

#menu-toggle {
  display: none;
}


footer {
  background: #1f6fa4;
  color: rgba(116, 3, 14, 0.895);
  padding: 1rem;
  text-align: center;
}
@media (max-width: 768px) {
  #menu-toggle {
    display: block;
  }
  #nav-menu {
    display: none;
  }
  #nav-menu.open {
    display: block;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.vehicle-card {
  background: #029078;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(202, 194, 194, 0.1);
}

.vehicle-card img {
  max-width: 100%;
  transition: transform 3s ease; /* 5 seconds slow zoom */
}

.vehicle-card:hover img {
  transform: scale(1.05); /* Slight zoom */
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(57, 132, 143, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgb(4, 154, 6);
  padding: 2rem;
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
  position: relative;
}

.modal .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.card-content {
  max-width: 200%;
  background-color: #0a0642;
  border-radius: 5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(187, 179, 179, 0.1);
  text-align: center;
  transition: transform 10s ease;
  transform: scale(2.05);
}

.flag {
  max-width: 100%;
  height: auto;
  display: block;
}
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.vehicle-card img {
  animation: float 6s ease-in-out infinite; /* Slow float up and down */
}
.card-content {
  animation: float 6s ease-in-out infinite;
}